@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-slow {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin-slow {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
  -webkit-animation: spin-slow 5s linear infinite;
  -moz-animation: spin-slow 5s linear infinite;
}

.background {
  background: linear-gradient(218deg, #E4EAF1 38.82%, rgba(209, 219, 233, 0.00) 61.22%), #f5f5f5;
  background-size: cover;

